@if(isAddingTask){
    <app-new-task [userid]="userId" (close)="onCloseAddaTsk()"></app-new-task>
}

<section id="tasks">
    <header>
        <h2>{{name}}'s Tasks</h2>
        <menu>
            <button (click)="onStartAddTask()">
                Add Task1
            </button>
        </menu>
    </header>
    <ul>
        @for (task of selectedUserTasks; track task.id){
            <li>
                <app-task [task]="task" ></app-task>
            </li>
        }
        
    </ul>
</section>